.container-fluid {
  background-image: url('https://img.freepik.com/premium-photo/flat-lay-clipboard-with-list-white-paper-colorful-background-pink-yellow-coral-colors-two-markers-eraser-it_148669-10.jpg?w=740');
  height: 100vh;
  background-size: cover;
}